<p>Kedves {{ form.name }}!</p>

<p>Köszönjük, hogy visszajeleztél. Azt írtad, hogy összesen {{ form.number }} vendégre számíthatunk tőletek. {% if attending %} Találkozunk áprilisban! {% else %} Sajnáljuk, hogy most nem tudunk találkozni. Pótoljuk be minél hamarabb! {% endif %} </p>

<p>Ha bármilyen további információra van szükséged, nézz szét a <a target=_blank href="https://www.doriesmartin.hu/">weboldalon</a>. Ha valamit kérdeznél tőlünk, vagy csak írnál nekünk, megteheted a <a target=_blank href="mailto:doriesmartin+rsvp-reply@gmail.com">doriesmartin@gmail.com</a> email címen, vagy erre az emailre is válaszolhatsz.</p>

<p>Üdv,<br />
Dóri és Martin</p>

<p><em>2021. április 24. &middot; Dunai Csónakház, Budapest</em></p>

<hr>

{% if attending %}
<p>Vendégek:</p>
<pre>{{ form.name_list }}</pre>
{% endif %}

{% if form.message %}
<p>Az alábbi üzenetet küldted nekünk:</p>
<blockquote>
{{ form.message }}
</blockquote>
{% endif %}
