{% extends "wedding/base.html" %}
{% block content %}
    <h2 class="section-title">Szertartás és buli</h2>
    <div>
        <img src="{{url_for('.static', filename='images/lego/harry.png')}}"
            alt="Lego Harry Potter"
            width="120px"
            style="float: left" />
        <p>A szertartást és az azt követő evést-ivást-táncot a <strong>Dunai Csónakházban</strong> fogjuk tartani. A <strong class=alert>vendégvárás 17:00-kor</strong> kezdődik. Utána szertartás, csoportképek, vacsora, majd pedig tánc, torta és még több tánc következik.</p>
        <p>Sajnos az aktuális COVID helyzet miatt nem tudjuk az eredeti időpontban megtartani az esküvőnket. <strong class=alert>Az új időpont 2021. augusztus 21.</strong> Reméljük, továbbra is részt tudsz venni az eseményen. Amennyiben mégsem, és már küldtél visszajelzést korábban, kérlek írj egy emailt a <a class=email target=_blank href="mailto:doriesmartin+rsvp-reply@gmail.com">doriesmartin@gmail.com</a> címre.
        </p>
    </div>
    <div class=location>
        <a class=left target=_blank href="https://www.google.com/maps/place/VakVarj%C3%BA+Cs%C3%B3nakh%C3%A1z/@47.4321295,19.0888394,17z/data=!3m1!4b1!4m5!3m4!1s0x4741dd16f8e01951:0x3300fc5ad9d90156!8m2!3d47.4321295!4d19.0910281">
            <p class=address>Dunai Csónakház<br/>Budapest, 20. ker<br/>Vízisport u. 12-18</p>
        </a>
        <div class=map>[47.4321295, 19.0910283]</div>
    </div>

    <h2 class="section-title">Szállás</h2>
    <div>
        <img src="{{url_for('.static', filename='images/lego/yoda.png')}}"
            alt="Lego Yoda"
            width="150px"
            style="float: right" />
        <p>Közös szállásfoglalást nem intéztünk. Ha valakinek szüksége van rá, a legközelebbi szálloda a <strong>Duna Garden Hotel</strong> a rendezvényhelyszín közvetlen szomszédjában.</p>
    </div>
    <div class=location>
        <a class=left target=_blank href="https://www.google.com/maps/place/Duna+Garden+Hotel/@47.4334225,19.0883361,17z/data=!3m1!4b1!4m8!3m7!1s0x4741dd5468f07071:0x6e02434b26dfab72!5m2!4m1!1i2!8m2!3d47.4334225!4d19.0905248">
            <p class=address>Duna Garden Hotel<br/>Budapest, 20. ker<br/>Vízisport u. 12</p>
        </a>
        <div class=map>[47.4334225, 19.0905248]</div>
    </div>
    <p class=center>
        <a class=button target=_blank href="https://www.dunagarden.hu/szobafoglalas/" class="button">Foglalás</a>
    </p>

    <h2 class="section-title">Parkolás</h2>
    <div>
        <img src="{{url_for('.static', filename='images/lego/mando.png')}}"
            alt="Lego Mandalorian"
            width="150px"
            style="float: right" />
        <p>A rendezvényhelyszín nem biztosít külön helyeket a vendégek számára, azonban az utcán lehetséges a parkolás. A környéken nem szükséges parkolódíjat fizetni.</p>
    </div>

    <h2 class="section-title">Nászajándék</h2>
    <div>
        <img src="{{url_for('.static', filename='images/lego/dobby.png')}}"
            alt="Lego Dobby"
            width="80px"
            style="float: left" />
        <p>Nagyon hálásak vagyunk, ha adni szeretnél nekünk valamit. Mivel azonban
        Svájcban lakunk, és korlátos a poggyász mérete, inkább a borítékokat preferáljuk
        a dobozokkal szemben. 🙏
        </p>
    </div>
{% endblock %}
