{% extends "wedding/base.html" %}
{% block content %}
    <h2 class="section-title">Szertartás és buli</h2>
    <div>
        <img src="{{url_for('.static', filename='images/lego/harry.png')}}"
            alt="Lego Harry Potter"
            width="120px"
            style="float: left" />
        <p>A szertartást és az azt követő evést-ivást-táncot is a <strong>Dunai Csónakházban</strong> fojuk tartani. A szertartás (a jelen állás szerint) <strong>17:00-kor</strong> kezdődik. Utána csoportképek, vacsora, majd pedig tánc, torta és még több tánc következik.</p>
        <p>Reméljük, az eredeti terveknek megfelelően meg tudjuk tartani az esküvőt. Azonban ha a Covid-19-20-21 miatt ez még is akadályokba ütközne, írni fogunk neked. Ezen a weboldalon mindnig a legfrisebb információkat találhatod.</p>
    </div>
    <div class=location>
        <a class=left target=_blank href="https://www.google.com/maps/place/VakVarjú+Csónakház/@47.4321295,19.0910283,12z/">
            <p class=address>Dunai Csónakház<br/>Budapest, 20. ker<br/>Vízisport u. 12-18</p>
        </a>
        <div class=map>[47.4321295, 19.0910283]</div>
    </div>

    <h2 class="section-title">Szállás</h2>
    <div>
        <img src="{{url_for('.static', filename='images/lego/yoda.png')}}"
            alt="Lego Mandalorian"
            width="150px"
            style="float: right" />
        <p>Közös szállásfoglalást nem intéztünk. Ha valakinek szüksége van rá, a legközelebbi szálloda a <strong>Duna Garden Hotel</strong> a rendezvényhelyszín közvetlen szomszédjában.</p>
    </div>
    <div class=location>
        <a class=left target=_blank href="https://www.google.com/maps/place/Duna+Garden+Hotel/@47.4334225,19.0905248,12z/">
            <p class=address>Duna Garden Hotel<br/>Budapest, 20. ker<br/>Vízisport u. 12</p>
        </a>
        <div class=map>[47.4334225, 19.0905248]</div>
    </div>
    <p class=center>
        <a class=button target=_blank href="https://www.dunagarden.hu/szobafoglalas/" class="button">Foglalás</a>
    </p>

    <h2 class="section-title">Nászajándék</h2>
    <div>
        <img src="{{url_for('.static', filename='images/lego/dobby.png')}}"
            alt="Lego Dobby"
            width="80px"
            style="float: left" />
        <p>Nagyon hálásak vagyunk, ha adni szeretnél nekünk valamit. Mivel azonban
        Svájcban lakunk, és korlátos a poggyász mérete, inkább a borítékokat preferáljuk
        a dobozokkal szemben. 🙏
        </p>
    </div>
{% endblock %}
