{% extends "wedding/base.html" %}
{% block content %}
    <h2 class="section-title">Fényképek</h2>
    <ul>
        <li><a class=email target=_blank href="https://photos.csigahaz.synology.me/mo/sharing/oMSM6iBTR">Összes</a></li>
        <li><a class=email target=_blank href="https://photos.csigahaz.synology.me/mo/sharing/0DOqbDaB4">Jegyesfotózás</a></li>
        <li><a class=email target=_blank href="https://photos.csigahaz.synology.me/mo/sharing/hqtK53DLj">Kreatív fotózás</a></li>
        <li><a class=email target=_blank href="https://photos.csigahaz.synology.me/mo/sharing/G2IueSUXn">Készülődés</a></li>
        <li><a class=email target=_blank href="https://photos.csigahaz.synology.me/mo/sharing/t6exaTncj">Szertartás</a></li>
        <li><a class=email target=_blank href="https://photos.csigahaz.synology.me/mo/sharing/NfuUR6CGF">Csoportképek</a></li>
        <li><a class=email target=_blank href="https://photos.csigahaz.synology.me/mo/sharing/DcixA8m6i">Buli</a></li>
        <li><a class=email target=_blank href="https://photos.csigahaz.synology.me/mo/sharing/cLzVIHMsm">Sorozat poszterek</a></li>
    </ul>
{% endblock %}
