$medium-green:       #668f7d;
$dark-green:       darken($medium-green, 10%);
$light-green:      lighten($medium-green, 40%);
$dark-purple:      #5d3393;
$medium-purple:    #7d6aaa;
$lighter-purple:   #9b8ac1;
$light-purple:     #b3aacd;
$steel-blue:       #7892c5;
$light-blue:       #72c4e6;
$blue-white:       #b8e4fa;
